{% extends 'base.html.twig' %}

{% block title %}Home | The Dot Academy
{% endblock %}

{% block body %}
	<div class="container py-4">
		<div class="row">
			<h1 class="display-4 mb-5">Capacitaciones</h1>
			{% for course in courses %}
				<div class="col-12 col-md-3">
					<div class="card">
						<img src="https://picsum.photos/200/200" class="card-img-top" alt="{{course.name}}">
						<div class="card-body">
							<h5 class="card-title">{{course.name}}</h5>
							<a href="{{path('app_course',{slug:course.slug})}}" class="btn btn-primary">Ver más</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
